{%extends '_base.html'%}

{% block contents%}
    <a href="">
        {% if object_list.count == 0 %}
        <div class="text-center">
        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        </svg>
        </div>
        {%else %}
        <div class="text-center">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="dark" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            </svg>
        {% endif %}

    </a>
    <div class="row bootstrap snippets bootdeys">
        {% for card in object_list %}
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <a href="{{card.get_detail_url}}">
                    <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                        <div class="content">
                            <h4 class="title"><a href="{{card.get_detail_url}}">{{card.title}}</a></h4>
                            {% for item in todo_items|slice:":3" %}
                                {% if item.card.id == card.id %}
                                    <p class="description">{{item.content}} </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div> <!-- end card -->
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock%}
